/.vscode
/node_modules
/public/_site/css
/public/_site/js
/public/_adm/css
/public/_adm/js
/public/hot
/public/files
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
