@charset "UTF-8";

/**
* Variaveis utilizada para o 
* comportamento do template
* 
* @note Para um correto funcionamento do template,
*       altere unicamente e caso seja necessario, somente
*       o bloco de variaveis a seguir:
*
*           body   | Prefixo = body   (Configurações do elemento body do documento)
*           Header | Prefixo = height (Topo do site)
*           Menu   | Prefixo = menu   (Menu lateral principal)
*           Footer | Prefixo = footer (Rodapé)
*
* @css-for Template Vars
*/

/**
* Variaveis de calculos do template
* 
* Variaveis responsaveis pelos corretos calculos para
* o funcionamento do template.
*
* @note Não mexer. Altere unicamente caso seja necessário
*       corrigir algum possivel bug na renderização da
*       estrutura do template.
*
* @css-for Calc Template Vars
*/

#container__auth {
  height: 100%;
  background-image: linear-gradient(#39607E, #071C3B);
}

#container__auth .form__group--auth {
  margin-bottom: 0;
}

#container__auth .form__group--auth .cols--inputs {
  padding-top: 0;
}

#container__auth .form__group--auth .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: white;
}

#container__auth .form__group--auth .theme--light.v-input,
#container__auth .form__group--auth .theme--light.v-input input,
#container__auth .form__group--auth .theme--light.v-input textarea {
  color: white;
}

#container__auth .form__group--auth .v-input__icon i {
  color: white;
}

#container__auth .form__group--auth .theme--light.v-label {
  color: white;
}

#container__auth .form__group--auth .theme--light.v-icon {
  color: white;
}

#container__auth .form__group--auth .theme--light.v-counter {
  color: white;
}

#container__auth .form__group--auth .theme--light.v-messages {
  color: white;
}

#container__auth > div.container {
  height: 100%;
}

#container__auth > div.container > div.row {
  height: 100%;
}

#container__auth > div.container > div.row .box__btn--forgot-password {
  text-align: right;
}

#container__auth > div.container > div.row .box__btn--forgot-password a {
  padding: 0;
}

#container__auth .btn {
  border-radius: 20px;
}

#container__auth .btn.btn-primary--auth {
  color: white;
}

