@import '~/../resources/_adm/sass/_vars.scss';

#header
{
    .box-left-right
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .left {
            padding: 0 30px;
            color: #125488;

            .title-header {
                font-size: 1.8em;
                font-weight: bold;
                margin: 0;
                line-height: 1em;
            }

            .subtitle-header {
                font-size: 0.83em;
                font-weight: bold;
            }
        }

        .right
        {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 10px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;

            .user {
                .profile {
                    width: 50px;
                    height: 50px;
                    border-radius: 100px;
                    background-size: cover;
                    background-position: center;
                }
            }

            .texts
            {
                margin-left: 10px;

                p {
                    margin: 0;
                    color: #0B3C5E;
                    font-weight: bold;
                    font-size: 0.7em;
                    margin-bottom: -4px;
    
                    &:first-child {
                        font-size: 0.84em;
                    }

                    span {
                        color: #919191;
                        font-weight: normal;
                    }
                }
            }

            .logout {
                border-left: solid 1px #707070;
                margin-left: 40px;
                
                a {
                    padding-left: 12px;
                    
                    .icon-cirulo-logout-2 {
                        stroke: #fe3e3e;
                    }

                    svg
                    {
                        .border-logout,
                        .icon-cirulo-logout-1,
                        .icon-cirulo-logout-2,
                        .text-logout {
                            transition: $transition-fast;
                        }
                    }

                    &:hover
                    {
                        svg
                        {
                            .border-logout,
                            .icon-cirulo-logout-1,
                            .icon-cirulo-logout-2,
                            .text-logout {
                                transition: $transition-fast;
                            }

                            .border-logout {
                                stroke: $blue-light;
                            }

                            .icon-cirulo-logout-1 {
                                fill: $blue-light;
                            }
                            .icon-cirulo-logout-2 {
                                stroke: $blue-light;
                            }
                            .text-logout {
                                fill: $blue-light;
                            }
                        }
                    }
                }
                
            }

        }
    }
}
