@import '~/../resources/_adm/sass/_vars.scss';

/**
* Bancários | Front-End
*
* Template do Front-End
*
* This style sheet describes the
* structure and the main components
* about of template
*
* @Data Bancários | Front End
* @package layout
* @author Ronaldo Quionha de Jesus.
*
* @colordef #06A7E0; standard blue
* @colordef #E5F6FC; light blue
* @colordef #F59433; standard orange

* @colordef #4B4849; dark grey
* @colordef #9E9D9D; medium grey
* @colordef #E6E5E5; grey
* @colordef #F2F2F2; light grey
* @colordef #FAFAFA; minimun grey
* @colordef #FFFFF; white
*/





/**
* Styles of Template
* 
* Only styles for template, nothing else.
* 
* @css-for Template
*/
* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $body-background-color;
}

#app
{
    height: 100%;
    width: 100%;

    header#header 
    {
        height: $header-height;
        width: 100%;
        background-color: $header-background-color;
        box-shadow: $header-shadow;
        z-index: $header-z-index;
    }


    /**
    * Estrutura do Menu Sidebar
    *
    * Controle de mostrar e esconder o menu com base
    * na existencia da classe ".show" dentro da tag
    * <div id="menu" class="">.
    *
    * MOBILE:
    * Caso exista a classe ".show" mostra o menu de forma flutuante,
    * Alterando a atributo "margin-left = 0;".
    * 
    * Caso contrario, não exista a classe ".show", recolhe o menu
    * aplicando ao atributo "margin-left" valor negativo do tamanho
    * da largura do menu.
    *
    * Desktop
    * Mantem o menu sempre visivel com o atributo "margin-left = 0;".
    * Aplica ao atributo "margin-left" o valor do tamanho da largura
    * do menu
    *
    * Menu-SiderBar
    *
    * @css-for #menu
    */
    #menu-sidebar
    {
        position: fixed;
        background-image: $menu-sidebar-background-color;
        width: $menu-sidebar-width;
        min-width: $menu-sidebar-width;
        height: $menu-fixed-height-mobile;
        margin-left: -$menu-sidebar-width;
        transition: margin-left $animations-time-duration, height $animations-time-duration;
        overflow-y: auto;
        box-shadow: $menu-sidebar-shadow;

        &.show {
            margin-left: 0;
        }
    }

    #content
    {
        min-height: $content-height-mobile;
        padding-bottom: 0;
        display: flex;

        main#main {
            flex-grow: 1;
            //background: $main-background;
            background-size: $main-background-size;
        }
    }

    
    @media (min-width: $lg-less)
    {
        #menu-sidebar
        {
            margin-left: 0;
            height: $menu-fixed-height-desktop;
            overflow-x: hidden;
        }

        #content
        {
            min-height: 100%;
            margin-left: $menu-sidebar-width;
        }

        
    }
}
