$theme-colors: (
    "purple": purple,
    "primary": #125488
);


// Fonts of project
$font-first: 'Open Sans', sans-serif;
$font-second: 'PT Sans', sans-serif;

// colors of project
$blue: #071C3B;
$blue-light: #53A6D8;
$blue-strong: #000A21;

$red: #FE3E3E;
$gray: #C1C1C1;
$grey: #C1C1C1;

$component-background-color: white;

// Transitions

$transition-normal: 0.4s;
$transition-slow: 1s;

