// colors of project
$blue: #125488;
$blue-light: #53A6D8;
$blue-strong: #0B3C5E;

$red: #FE3E3E;
$red-strong: #721B1B;


$gray: #C1C1C1;
$grey: #C1C1C1;
$grey-light: #E0E1E3;
$grey-strong: #333;
$gray-font: #919191;

$theme-colors: (
    "purple": purple,
    "primary": #125488,
    "primary--auth": $blue-light,
);


// Fonts of project
$font-first: 'Open Sans', sans-serif;
$font-second: 'PT Sans', sans-serif;



$component-background-color: white;

// Transitions

$transition-normal: 0.4s ease;
$transition-fast: 0.3s ease;
$transition-slow: 1s ease;


/**
* Variaveis utilizada para o 
* comportamento do template
* 
* @note Para um correto funcionamento do template,
*       altere unicamente e caso seja necessario, somente
*       o bloco de variaveis a seguir:
*
*           body   | Prefixo = body   (Configurações do elemento body do documento)
*           Header | Prefixo = height (Topo do site)
*           Menu   | Prefixo = menu   (Menu lateral principal)
*           Footer | Prefixo = footer (Rodapé)
*
* @css-for Template Vars
*/
$body-background-color: #FAFAFA;
$animations-time-duration: 0.4s;

$header-height: 100px;
$footer-height: 30px;
$menu-sidebar-width: 10px; //80px original

$header-background-color: #EAEEF1;
$header-shadow: 0 0px 6px #aaa;
$header-z-index: 909090;

$menu-sidebar-background-color: linear-gradient(#39607E, #071C3B);
$menu-sidebar-z-index: 909090;
$menu-sidebar-shadow: 0px 0 6px #aaa;

//$main-background: url("/images/bg-template.svg") no-repeat center fixed;
$main-background-size: cover;

$footer-background-color: #9E9D9D;

$lg-less: 992px;


/**
* Variaveis de calculos do template
* 
* Variaveis responsaveis pelos corretos calculos para
* o funcionamento do template.
*
* @note Não mexer. Altere unicamente caso seja necessário
*       corrigir algum possivel bug na renderização da
*       estrutura do template.
*
* @css-for Calc Template Vars
*/
$cemPorCento: 100%;
$menu-fixed-height-mobile: $cemPorCento;
$menu-fixed-height-desktop: $cemPorCento;
$content-height-mobile: $cemPorCento;