
// Variables
@import '_vars';

#container__auth
{
    .form__group--auth
    {
        margin-bottom: 0;

        .cols--inputs {
            padding-top: 0;
        }

        .theme--light.v-text-field>.v-input__control>.v-input__slot:before {
            border-color: white;
        }

        .theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
            color: white !important;
        }

        .v-input__icon {
            i {
                color: white !important;
            }
        }

    height: 100%;
    background-image: linear-gradient(#39607E, #071C3B);

    > div.container {
        height: 100%;

        > div.row {
            height: 100%;

            .box__btn--forgot-password {
                text-align: right;

                a {
                    padding: 0;
                }
            }
        }
    }

    .btn
    {
        border-radius: 20px;

        &.btn-primary--auth {
            color: white;
        }
    }
}